<!-- Close Icon -->
<div class="nav-close">
    <i class="fa fa-close" aria-hidden="true"></i>
</div>
<!-- Logo -->
<div class="logo">
    <a href=""><img src="assets/image/core-img/logo.png" alt="" /></a>
</div>
<!-- Amado Nav -->
<nav class="amado-nav">
    <ul>
        <li *ngFor="let item of listPage" [routerLink]="item.routerLink" routerLinkActive="active"><a>{{item.content}}</a></li>
    </ul>
</nav>
<!-- Button Group -->
<div class="amado-btn-group mt-30 mb-100">
    <a href="#" class="btn amado-btn mb-15">%Discount%</a>
    <a href="#" class="btn amado-btn active">New this week</a>
</div>
<!-- Cart Menu -->
<div class="cart-fav-search mb-100">
    <a routerLink="/cart" class="cart-nav"><img src="assets/image/core-img/cart.png" alt="" /> Cart <span>({{cartLength.value }})</span></a>
    <a class="fav-nav"><img src="assets/image/core-img/favorites.png" alt="" /> Favourite</a>
    <a (click)="openSearchNav()" class="search-nav"><img src="assets/image/core-img/search.png" alt="" /> Search</a>
</div>
<!-- Social Button -->
<div class="social-info d-flex justify-content-between">
    <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
</div>

<!-- Header Area End -->